/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* purge start ignore */
@layer base {
    body {
        @apply antialiased text-gray-600 bg-gray-100;
        @apply leading-normal tracking-normal text-base font-normal break-words;
        @apply font-sans text-base lg:text-xl;
    }

    main {
        @apply p-8 pt-32 md:pt-24 mx-auto max-w-4xl;
        @apply text-center;
    }

    a {
        @apply text-green-600;
        @apply no-underline hover:underline focus:outline-none focus:underline;
    }

    button {
        @apply py-1 px-4 my-2 rounded border border-gray-500;
        @apply cursor-pointer focus:outline-none;
    }
}
  
  /* purge end ignore */
